

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1921px;
$xxxxl: 2561px;

@keyframes appear-then-fade {
  0%, 100% {
    opacity: 0
  }
  5%, 60% {
    opacity: 1
  }
}

$dark: #14213d;
$primary: #293F7A;
$warning: #fca311;
$light: #e5e5e5;
$danger: #d62828;
$success: #588157;
$white: #fff;
$black: #000;

$link-color: #567AC8;
$body-bg: $light;
$link-hover-color: #fff;

